version: '3.8'

services:
  frontend:
    build:
      context: .
      args:
        - VITE_API_GATEWAY_URL=${VITE_API_GATEWAY_URL}
    container_name: woodart-frontend
    ports:
      - "3000:3000"
    restart: always
